.pricingCard{
    @apply w-full py-8 px-3 flex flex-col justify-center items-center gap-7 rounded-xl bg-dark_gray   
             
}

.card_title{
    @apply text-center font-semibold text-white
}

.price_box{
    @apply bg-primary_red w-fit p-8 rounded-lg flex flex-col justify-center items-center gap-2 mb-8
           sm:p-6 
           md:p-6 
          
            
}

.price{
    @apply text-3xl font-bold
           sm:text-xl
           lg:text-2xl
}

.list_item{
    @apply flex justify-between  border-b-[1px]  gap-5 border-gray-500 pb-4
           sm:text-xs
           md:text-[14px]
           lg:text-[16px]
}

.icon{
    @apply w-6 text-primary_red  sm:w-4
            lg:w-6
}